// Menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding: 8px 0;
}

// .menu-body {
//     overflow-x: hidden;
//     overflow-y: auto;
// }

// Menu items
.menu-item {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 12px;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 0;
    line-height: 2.2rem;
    color: var(--text-color);

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: var(--hover-color);
    }
}
